Repository jbmiller10/Cownter: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        entry: bash -c 'cd cattle_tracker && ruff check --fix .'
        language: system
        types: [python]
        
      - id: ruff-format
        name: ruff format
        entry: bash -c 'cd cattle_tracker && ruff format .'
        language: system
        types: [python]
        
      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write .'
        language: system
        files: '\.(js|jsx|ts|tsx|json|css|md)$'
        
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

feat: implement core database models for cattle management
  CLAUDE.md
  cattle_tracker/cattle_tracker/__init__.py
  cattle_tracker/cattle_tracker/asgi.py
  cattle_tracker/cattle_tracker/settings.py
  cattle_tracker/cattle_tracker/urls.py
  cattle_tracker/cattle_tracker/wsgi.py
  cattle_tracker/herd/__init__.py
  cattle_tracker/herd/admin.py
  cattle_tracker/herd/apps.py
  cattle_tracker/herd/migrations/0001_initial.py
  cattle_tracker/herd/migrations/__init__.py
  cattle_tracker/herd/models.py
  cattle_tracker/herd/tests.py
  cattle_tracker/herd/views.py
  cattle_tracker/manage.py
  cattle_tracker/pyproject.toml
  cattle_tracker/test_basic.py
  docker-compose.yml
Due: ruff-check, ruff-format, prettier

feat: add weight logging model with admin interface
  cattle_tracker/herd/admin.py
  cattle_tracker/herd/migrations/0002_add_weight_log.py
  cattle_tracker/herd/models.py
  cattle_tracker/herd/tests.py
Due: ruff-check, ruff-format

feat: implement REST API for Cattle CRUD operations
  CLAUDE.md
  cattle_tracker/cattle_tracker/settings.py
  cattle_tracker/cattle_tracker/urls.py
  cattle_tracker/herd/serializers.py
  cattle_tracker/herd/tests/__init__.py
  cattle_tracker/herd/tests/test_api.py
  cattle_tracker/herd/tests/test_models.py
  cattle_tracker/herd/urls.py
  cattle_tracker/herd/viewsets.py
  cattle_tracker/requirements.txt
Due: ruff-check, ruff-format, prettier

claude.md
  CLAUDE.md
  cattle_tracker/herd/serializers.py
Due: ruff-check, ruff-format, prettier

perf: add select_related for sire/dam to prevent N+1 queries
  cattle_tracker/herd/viewsets.py
Due: ruff-check, ruff-format

feat: add API optimizations and documentation
  cattle_tracker/cattle_tracker/settings.py
  cattle_tracker/cattle_tracker/urls.py
  cattle_tracker/herd/serializers.py
  cattle_tracker/herd/viewsets.py
  cattle_tracker/requirements.txt
Due: ruff-check, ruff-format

feat: implement photo upload and tagging API endpoints
  cattle_tracker/herd/serializers.py
  cattle_tracker/herd/tests/fixtures/__init__.py
  cattle_tracker/herd/tests/fixtures/image_helpers.py
  cattle_tracker/herd/tests/test_api.py
  cattle_tracker/herd/tests/test_models.py
  cattle_tracker/herd/tests/test_photo_api.py
  cattle_tracker/herd/urls.py
  cattle_tracker/herd/utils/__init__.py
  cattle_tracker/herd/utils/image_processing.py
  cattle_tracker/herd/viewsets.py
  cattle_tracker/requirements.txt
Due: ruff-check, ruff-format

feat: add REST API statistics endpoints
  cattle_tracker/herd/stats_views.py
  cattle_tracker/herd/tests/test_stats_api.py
  cattle_tracker/herd/urls.py
Due: ruff-check, ruff-format

feat: implement weight log CRUD API endpoints
  cattle_tracker/herd/serializers.py
  cattle_tracker/herd/tests/test_weight_log_api.py
  cattle_tracker/herd/urls.py
  cattle_tracker/herd/viewsets.py
Due: ruff-check, ruff-format

feat: implement JWT authentication and role-based permissions
  authentication/management/commands/setup_auth.py
  authentication/permissions.py
  authentication/serializers.py
  authentication/urls.py
  authentication/views.py
  cattle_tracker/authentication/__init__.py
  cattle_tracker/authentication/admin.py
  cattle_tracker/authentication/apps.py
  cattle_tracker/authentication/management/__init__.py
  cattle_tracker/authentication/management/commands/__init__.py
  cattle_tracker/authentication/management/commands/setup_auth.py
  cattle_tracker/authentication/migrations/__init__.py
  cattle_tracker/authentication/models.py
  cattle_tracker/authentication/permissions.py
  cattle_tracker/authentication/serializers.py
  cattle_tracker/authentication/tests.py
  cattle_tracker/authentication/urls.py
  cattle_tracker/authentication/views.py
  cattle_tracker/cattle_tracker/settings.py
  cattle_tracker/cattle_tracker/urls.py
  cattle_tracker/herd/stats_views.py
  cattle_tracker/herd/tests/test_stats_api.py
  cattle_tracker/herd/viewsets.py
  cattle_tracker/requirements.txt
Due: ruff-check, ruff-format

refactor: address authentication code review feedback
  cattle_tracker/AUTH.md
  cattle_tracker/authentication/admin.py
  cattle_tracker/authentication/management/commands/setup_auth.py
  cattle_tracker/authentication/models.py
  cattle_tracker/authentication/permissions.py
  cattle_tracker/authentication/views.py
Due: ruff-check, ruff-format, prettier

Update README.md
  README.md
Due: prettier

feat: implement frontend API client layer
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/client.ts
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/__tests__/AuthContext.test.tsx
  frontend/src/hooks/__tests__/useCattle.test.tsx
  frontend/src/hooks/__tests__/useWeightLogs.test.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useCattle.ts
  frontend/src/hooks/usePhotos.ts
  frontend/src/hooks/useStats.ts
  frontend/src/hooks/useWeightLogs.ts
  frontend/src/tests/mocks/handlers.ts
  frontend/src/tests/mocks/mockData.ts
  frontend/src/tests/mocks/server.ts
  frontend/src/tests/setup.ts
  frontend/src/tests/test-utils.tsx
  frontend/src/types/api.ts
  frontend/vitest.config.ts
Due: prettier

feat: implement navigation and routing with protected routes
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/components/Layout.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/__tests__/AuthContext.test.tsx
  frontend/src/hooks/__tests__/useCattle.test.tsx
  frontend/src/hooks/__tests__/useWeightLogs.test.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useCattle.ts
  frontend/src/hooks/usePhotos.ts
  frontend/src/hooks/useStats.ts
  frontend/src/hooks/useWeightLogs.ts
  frontend/src/main.tsx
  frontend/src/pages/CattleListPage.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/NotFoundPage.tsx
  frontend/src/pages/PhotosPage.tsx
  frontend/src/pages/StatsPage.tsx
  frontend/src/pages/WeightLogsPage.tsx
  frontend/src/pages/index.ts
  frontend/src/tests/mocks/handlers.ts
  frontend/src/tests/mocks/mockData.ts
  frontend/src/tests/mocks/server.ts
  frontend/src/tests/setup.ts
  frontend/src/tests/test-utils.tsx
  frontend/src/types/api.ts
Due: prettier

fix: address code review feedback for navigation implementation
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/Layout.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/pages/StatsPage.tsx
  frontend/src/pages/WeightLogsPage.tsx
Due: prettier

feat: implement HerdListView with Material UI DataGrid
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/HerdListView.stories.tsx
  frontend/src/components/HerdListView.tsx
  frontend/src/components/__tests__/HerdListView.performance.test.tsx
  frontend/src/components/__tests__/HerdListView.test.tsx
  frontend/src/components/index.ts
  frontend/src/hooks/useCattle.ts
  frontend/src/types/api.ts
Due: prettier

feat: implement backend lineage endpoint for cattle family trees
  cattle_tracker/herd/serializers.py
  cattle_tracker/herd/tests/test_api.py
  cattle_tracker/herd/viewsets.py
Due: ruff-check, ruff-format

feat: integrate lineage endpoint with frontend
  frontend/src/components/HerdListView.stories.tsx
  frontend/src/components/HerdListView.tsx
  frontend/src/components/__tests__/HerdListView.performance.test.tsx
  frontend/src/components/__tests__/HerdListView.test.tsx
  frontend/src/components/cattle/LineageTree.tsx
  frontend/src/components/cattle/__tests__/LineageTree.test.tsx
  frontend/src/hooks/useCattle.ts
  frontend/src/tests/mocks/mockData.ts
  frontend/src/types/api.ts
Due: prettier

.
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/cattle/CattlePhotos.tsx
  frontend/src/components/cattle/GrowthChart.tsx
  frontend/src/components/index.ts
  frontend/src/pages/CattleDetailPage.stories.tsx
  frontend/src/pages/CattleDetailPage.tsx
  frontend/src/pages/CattleListPage.tsx
  frontend/src/pages/__tests__/CattleDetailPage.test.tsx
  frontend/src/pages/index.ts
  frontend/tsconfig.json
Due: prettier

feat: implement global photo gallery with upload UI
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/PhotosPage.stories.tsx
  frontend/src/pages/PhotosPage.tsx
  frontend/src/pages/__tests__/PhotosPage.test.tsx
  frontend/vite.config.ts
Due: prettier

feat: implement statistics dashboard with comprehensive visualizations
  frontend/src/hooks/useStats.ts
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/StatsPage.tsx
  frontend/src/types/api.ts
Due: prettier
